.modal_wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.modal {
  position: relative;
  width: min(560px, 100%);
  max-height: 90vh;
  padding: 24px;
  overflow-y: auto;
  background: var(--background);
  border-radius: 32px;
  box-shadow: 0 15px 50px rgb(0 0 0 / 30%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  margin: 0;
}

.close_button {
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
